{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pesticide Factory - Products</title>
  <link rel="stylesheet" href="{% static 'dep1/css/style.css' %}?v=1.0">
</head>
<body>
  <div class="wrapper">
  
    <header>
      <img src="{% static 'dep1/images/logo1.jpg' %}" alt="Factory Logo" class="logo">
      <h1>Pesticide Factory Store</h1>
      <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'product' %}">Products</a>
        <a href="#">Contact</a>
      </nav>
    </header>

    <main>
      <h2 class="product-heading">Our Products</h2>

      <section class="product-list">
        <div class="product">
          <img src="{% static 'dep1/images/Product2.jpg' %}" alt="Pesticide A">
          <h3>Pesticide A</h3>
          <p>Effective against aphids and other common pests. <br>
            Stock: 5<br>
            Price: ₹350</p>
        </div>

        <div class="product">
          <img src="{% static 'dep1/images/product1.jpg' %}" alt="Pesticide B">
          {% for p in products %}
          <h3>{{p.name}}</h3>
          <p>Organic pesticide for vegetable crops.<br> 
            Stock: {{p.stock}}<br>
            Price: {{p.price}}</p>
          {% endfor %}
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2025 Pesticide Factory. All rights reserved.</p>
    </footer>

  </div>
</body>
</html>
